{% extends 'base.html' %}
{% block content %}
  <title>Список книг</title>
   
 </head>
 <body>
  <h3 class="display-3">Книги</h3>
    <table class="table">
    <tr>
    <th scope="col">pk</th>
    <th scope="col">Название</th>
    <th scope="col">Авторы</th> 
    <th scope="col">Жанр</th>  
    </tr>
  {% for book in object_list %}
    
        <tr>
        <td>{{ book.pk }}</td>
        <td><a href="{% url 'book-detail-view' book.pk %}">{{ book.book_name }}</a></td>
        <td>{{ book.author.all|join:" // " }}</td>
        <td>{{ book.genre }}</td>
        <td><a class="btn btn-light" href="{% url 'book-update' book.pk %}" class="button">Update</a></td>
        <td><a class="btn btn-danger" href="{% url 'book-delete' book.pk %}" class="button">Delete</a></td>
        </tr>
    
   {% endfor %} 
    </table>
    <a class="btn btn-primary btn-lg" href="{% url 'book-create' %}" class="button">Create</a>
{% endblock %}