<h1>{{ object.book_name }}</h1>

<img src = {{ object.cover.url }}  >

<h4>{{ object.price }}</h4>
<h4>{{ object.author.all|join:" // " }}</h4>
<h4>{{ object.serie }}</h4>
<h4>{{ object.genre }}</h4>
<h4>{{ object.pub_year }}</h4>
<h4>{{ object.pages }}</h4>
<h4>{{ object.binding }}</h4>
<h4>{{ object.form }}</h4>
<h4>{{ object.isbn }}</h4>
<h4>{{ object.weigth }}</h4>
<h4>{{ object.publisher }}</h4>
<h4>{{ object.availability }}</h4>
<h4>{{ object.activ }}</h4>
<h4>{{ object.rating }}</h4>
<h4>{{ object.add_date }}</h4>
<h4>{{ object.change_date }}</h4>
